/**************************************************************
 *                      footer styling
 * ************************************************************/
footer{
        background-color:white;
        height:60px;
        width:100%;
        bottom:0;
        position:absolute;
        display:flex;
        align-items:center;
        justify-content:center;
	border-top: 1px solid #CCCCCC;
	box-sizing:border-box;
}
~   
